<template>
    <div>

        <ul>
            <li v-for="(obj, index) in list" :key = 'obj.value'>
                <input type="checkbox" v-on:click="obj.strike = !obj.strike">
                <span :style ="{ textDecoration: obj.strike == true ? 'line-through' : 'none' }">
                    {{ obj.value }} - {{ obj.strike == true ? 'line-through' : 'none' }}
                </span>
                <button v-on:click="list.splice(index, 1)">Удалить</button>
            </li>
        </ul>

        <input type="text" v-model="taskName" v-on:keypress="changeVar">

    </div>
</template>

<script>


    export default {
        data: function () {
            return {
                taskName: null,
                list: []
            }
        },
        methods: {
            changeVar: function(e) {
                if (e.code === "Enter") {
                    this.list.push({
                        value: this.taskName,
                        strike: false
                    });
                    this.taskName = null;
                    console.log(this.list)
                }
            }

        }
    }

</script>

<style>

</style>
